<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Student Information System</title>

	<link rel="icon" href="assets/images/fav-icon.png">
</head>

<body>
	<div class="page-wrapper">

		<!-- Menu Sidebar-->
		<aside class="menu-sidebar d-none d-lg-block">
			<div class="logo">
				<a href="#">
					<img src="#" alt="logo placeholder" class="img-responsive">
				</a>
			</div>
			
			<app-courses-menu></app-courses-menu>

		</aside>

		<!-- Page Container-->
		<div class="page-container">
			<!-- Header -->
			<header class="header-desktop">
				<div class="section-content section-content-p30">
					<div class="container-fluid">
						<div class="header-wrap">

							<app-search></app-search>
							
						</div>
					</div>
				</div>
			</header>

			<!-- Main content-->
			<router-outlet></router-outlet>

		</div>
	</div>

	<!-- Footer -->
	<footer>
		<ul>
			<li><a href="https://www.linkedin.com/in/bojan-sovtić-2ab294160/">&copy; Copyright 2020, Bojan Sovtić</a></li>
		</ul>
	</footer>

</body>

</html>